<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.AccountDAO">

	<!-- 민원서식 카테고리 목록 -->
	<select id="findById" resultType="AccountDTO"
		parameterType="int">
		select
		account_Id,
		user_no,
		inst_id,
		dept_id
		from t1000_account
	</select>


</mapper>
