<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.approval24.dao.BookmarkDAO">

    <!-- 계정별 북마크 조회 -->
    <select id="findByAccountId" parameterType="long" resultMap="bookmarkResultMap">
        SELECT *
        FROM T2000_BOOKMARK
        WHERE ACCOUNT_ID = #{accountId}
          AND DEL_YN = 'N'
        ORDER BY BOOKMARK_NAME
    </select>

    <!-- 단일 북마크 + 상세 조회 -->
    <select id="findById" parameterType="long" resultMap="bookmarkResultMap">
        SELECT *
        FROM T2000_BOOKMARK
        WHERE BOOKMARK_ID = #{bookmarkId}
          AND DEL_YN = 'N'
    </select>

    <!-- ResultMap 정의 (Bookmark + 상세 포함) -->
    <resultMap id="bookmarkResultMap" type="com.example.approval24.domain.BookmarkDTO">
        <id property="bookmarkId" column="BOOKMARK_ID"/>
        <result property="accountId" column="ACCOUNT_ID"/>
        <result property="bookmarkName" column="BOOKMARK_NAME"/>
        <result property="createDt" column="CREATE_DT"/>
        <result property="updateDt" column="UPDATE_DT"/>
        <result property="delYn" column="DEL_YN"/>
        <collection property="approvers" ofType="com.example.approval24.domain.BookmarkDTO$Approver">
            SELECT SEQ_NO, APPROVER_ID, APPROVER_TYPE_CD, CREATE_DT, UPDATE_DT, DEL_YN
            FROM T2000_BOOKMARK_DETAIL
            WHERE BOOKMARK_ID = #{bookmarkId}
            ORDER BY SEQ_NO
        </collection>
    </resultMap>

    <!-- 북마크 등록 -->
    <insert id="insertBookmark" parameterType="com.example.approval24.domain.BookmarkDTO" useGeneratedKeys="true" keyProperty="bookmarkId">
        INSERT INTO T2000_BOOKMARK (ACCOUNT_ID, BOOKMARK_NAME, CREATE_DT, DEL_YN)
        VALUES (#{accountId}, #{bookmarkName}, SYSDATE, 'N')
    </insert>

    <!-- 북마크 이름 수정 / 논리 삭제 -->
    <update id="updateBookmark" parameterType="map">
        UPDATE T2000_BOOKMARK
        <set>
            <if test="bookmarkName != null">BOOKMARK_NAME = #{bookmarkName},</if>
            <if test="delYn != null">DEL_YN = #{delYn},</if>
            UPDATE_DT = SYSDATE
        </set>
        WHERE BOOKMARK_ID = #{bookmarkId}
    </update>

    <!-- 특정 북마크 내 결재자 수정 -->
    <update id="updateApprover" parameterType="map">
        UPDATE T2000_BOOKMARK_DETAIL
        <set>
            <if test="approverId != null">APPROVER_ID = #{approverId},</if>
            <if test="approverTypeCd != null">APPROVER_TYPE_CD = #{approverTypeCd},</if>
            <if test="delYn != null">DEL_YN = #{delYn},</if>
            UPDATE_DT = SYSDATE
        </set>
        WHERE BOOKMARK_ID = #{bookmarkId}
          AND SEQ_NO = #{seqNo}
    </update>

</mapper>
