<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.CategoryDAO">

	<!-- 민원서식 카테고리 목록 -->
	<select id="findAllCategories" resultType="CategoryDTO"
		parameterType="int">
		select
		complain_category_id,
		category_name,
		category_cd,
		category_url
		from t2000_complain_category
	</select>

	<!-- 민원서식별 처리기한 조회 -->
	<select id="findDueDtById" resultType="int"
		parameterType="int">
		select
		due_dt
		from t2000_complain_category
		where complain_category_id = #{complainCategoryId}
	</select>

</mapper>
