<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.CategoryDAO">


	<!-- 현재 접속한 아이디로 접수할 수 있는 카테고리 목록 -->
	<select id="findByAccountId" resultType="CategoryDTO"
		parameterType="long">
		select
		cc.complain_category_id,
		cc.category_name,
		cc.category_cd,
		cc.due_dt,
		cc.category_url,
		cc.del_yn,
		t.code_id,
		t.code_name
		from t2000_complain_category cc
		left join total_code t on t.code_id=cc.category_cd
		where cc.del_yn = 'N'
		and cc.complain_category_id in(
		select d.complain_category_id
		from t1000_account a
		join t1000_department_work d on d.department_id=a.dept_Id
		where account_id = #{accountId})
	</select>

	<!-- 민원서식 카테고리 목록 -->
	<select id="findAllCategories" resultType="CategoryDTO">
		select
		cc.complain_category_id,
		cc.category_name,
		cc.category_cd,
		cc.due_dt,
		cc.category_url,
		cc.del_yn,
		t.code_id,
		t.code_name
		from t2000_complain_category cc
		join total_code t on t.code_id=cc.category_cd
	</select>


	<!-- 민원서식별 처리기한 조회 -->
	<select id="findDueDtById" resultType="int" parameterType="long">
		select
		due_dt
		from t2000_complain_category
		where complain_category_id = #{complainCategoryId}
	</select>

	<!-- URL로 findByCategoryUrl 찾기 -->
	<select id="findByCategoryUrl" resultType="CategoryDTO"
		parameterType="String">
		select *
		from t2000_complain_category
		where category_Url = #{categoryUrl}
	</select>

	<!-- 특정 부서의 매핑 민원서식 -->
	<select id="findCategoryByDept" parameterType="Long"
		resultType="CategoryDTO">
		select cc.complain_category_id, cc.category_name
		from t1000_department_work dw
		join t2000_complain_category cc
		on cc.complain_category_id = dw.complain_category_id
		where dw.department_id=#{deptId}
		order by cc.category_name
	</select>


	<!-- 민원서식 상세 -->
	<select id="CategoryInfo" parameterType="long"
		resultType="CategoryDTO">
		select
		cc.complain_category_id,
		cc.category_name,
		cc.category_cd,
		to_char(cc.create_dt, 'YYYY-MM-DD') AS create_dt,
		to_char(cc.update_dt, 'YYYY-MM-DD') AS update_dt,
		cc.due_dt,
		cc.create_id,
		cc.update_id,
		cc.del_yn,
		cc.category_url,
		t.code_id,
		t.code_name
		from t2000_complain_category cc
		left join total_code t on t.code_id=cc.category_cd
		where complain_category_id=#{complainCategoryId}
	</select>

	<!-- 민원서식 등록 -->
	<insert id="CategoryInsert" parameterType="CategoryDTO">
		<selectKey keyProperty="complainCategoryId" resultType="long" order="BEFORE">
	    	SELECT SEQ_T2000_COMPLAIN_CATEGORY.NEXTVAL FROM DUAL
	    </selectKey>
		insert into t2000_complain_category(complain_category_id, category_name, category_cd, create_dt,
		due_dt, create_id, category_url)
		values(#{complainCategoryId}, #{categoryName}, #{categoryCd}, SYSDATE, #{dueDt}, #{createId}, #{categoryUrl})
	</insert>

	<!-- 민원서식 수정, 삭제 -->
	<update id="CategoryUpd" parameterType="CategoryDTO">
		update t2000_complain_category
		set
		update_dt=SYSDATE,
		update_id=#{updateId},
		due_dt=#{dueDt},
		del_yn=#{delYn},
		category_url=#{categoryUrl}
		where complain_category_id=#{complainCategoryId}
	</update>
	
	
	<!-- 민원서식 카테고리 목록 (Filter + Paging) -->
	<select id="findByFilter" parameterType="CategoryDTO" resultType="CategoryDTO">
	  SELECT
	    cc.complain_category_id,
	    cc.category_name,
	    cc.category_cd,
	    cc.due_dt,
	    cc.category_url,
	    cc.del_yn,
	    TO_CHAR(cc.create_dt, 'YYYY-MM-DD') AS create_dt,
	    TO_CHAR(cc.update_dt, 'YYYY-MM-DD') AS update_dt,
	    t.code_id,
	    t.code_name
	  FROM t2000_complain_category cc
	  JOIN total_code t
	    ON t.code_id = cc.category_cd
	  <where>
	    <!-- 삭제여부 정확 일치 -->
	    <if test="delYn != null and delYn != ''">
	      AND cc.del_yn = #{delYn}
	    </if>
	
	    <!-- 카테고리명 LIKE -->
	    <if test="categoryName != null and categoryName != ''">
	      AND cc.category_name LIKE '%' || #{categoryName} || '%'
	    </if>
	
	    <!-- 서식코드(categoryCd) LIKE -->
	    <if test="categoryCd != null and categoryCd != ''">
	      AND cc.category_cd LIKE '%' || #{categoryCd} || '%'
	    </if>
	
	    <!-- URL LIKE -->
	    <if test="categoryUrl != null and categoryUrl != ''">
	      AND cc.category_url LIKE '%' || #{categoryUrl} || '%'
	    </if>
	
	    <!-- 기간 필터: dateType 에 따라 createDt/updateDt 중 선택 -->
	    <if test="dateType != null and dateType != '' 
	              and createDt != null and createDt != '' 
	              and updateDt != null and updateDt != ''">
	      <choose>
	        <when test="dateType == 'createDt'">
	          <![CDATA[
	            AND cc.create_dt >= TO_DATE(#{createDt}, 'YYYY-MM-DD')
	            AND cc.create_dt <  TO_DATE(#{updateDt}, 'YYYY-MM-DD') + 1
	          ]]>
	        </when>
	        <when test="dateType == 'updateDt'">
	          <![CDATA[
	            AND cc.update_dt >= TO_DATE(#{createDt}, 'YYYY-MM-DD')
	            AND cc.update_dt <  TO_DATE(#{updateDt}, 'YYYY-MM-DD') + 1
	          ]]>
	        </when>
	      </choose>
	    </if>
	    
	    <if test="dueStart != null and dueEnd != null">
	      AND cc.due_dt BETWEEN #{dueStart} AND #{dueEnd}
	    </if>
	  </where>
	
	  <!-- 정렬 규칙: dateType 있으면 해당일자 우선, 없으면 PK 내림차순 -->
	  <choose>
	    <when test="dateType == 'createDt'"> ORDER BY cc.create_dt DESC, cc.complain_category_id DESC</when>
	    <when test="dateType == 'updateDt'"> ORDER BY cc.update_dt DESC, cc.complain_category_id DESC</when>
	    <otherwise>                          ORDER BY cc.complain_category_id DESC</otherwise>
	  </choose>
	
	  OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
	
	<!-- 페이징용 전체 건수 -->
	<select id="countByFilter" parameterType="CategoryDTO" resultType="int">
	  SELECT COUNT(1)
	  FROM t2000_complain_category cc
	  JOIN total_code t
	    ON t.code_id = cc.category_cd
	  <where>
	    <if test="delYn != null and delYn != ''">
	      AND cc.del_yn = #{delYn}
	    </if>
	    <if test="categoryName != null and categoryName != ''">
	      AND cc.category_name LIKE '%' || #{categoryName} || '%'
	    </if>
	    <if test="categoryCd != null and categoryCd != ''">
	      AND cc.category_cd LIKE '%' || #{categoryCd} || '%'
	    </if>
	    <if test="categoryUrl != null and categoryUrl != ''">
	      AND cc.category_url LIKE '%' || #{categoryUrl} || '%'
	    </if>
	    <if test="dateType != null and dateType != '' 
	              and createDt != null and createDt != '' 
	              and updateDt != null and updateDt != ''">
	      <choose>
	        <when test="dateType == 'createDt'">
	          <![CDATA[
	            AND cc.create_dt >= TO_DATE(#{createDt}, 'YYYY-MM-DD')
	            AND cc.create_dt <  TO_DATE(#{updateDt}, 'YYYY-MM-DD') + 1
	          ]]>
	        </when>
	        <when test="dateType == 'updateDt'">
	          <![CDATA[
	            AND cc.update_dt >= TO_DATE(#{createDt}, 'YYYY-MM-DD')
	            AND cc.update_dt <  TO_DATE(#{updateDt}, 'YYYY-MM-DD') + 1
	          ]]>
	        </when>
	      </choose>
	    </if>
	    
	    <if test="dueStart != null and dueEnd != null">
	      AND cc.due_dt BETWEEN #{dueStart} AND #{dueEnd}
	    </if>
	  </where>
	</select>
	
	

</mapper>
