<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.ComplainDAO">

	<!-- 내 민원조회 -->
	<select id="getMyWorks" resultType="ComplainDTO"
		parameterType="long">
		select
		c.complain_id, cc.category_name,
		u.complainuser_name,
		c.complain_status_cd, c.rcpt_dt, c.proc_dt,
		c.due_dt
		from t2000_complain c
		join t2000_complain_user u
		on
		c.complainuser_no = u.complainuser_no
		join t2000_complain_category cc
		on c.complain_category_id = cc.complain_category_id
		where c.account_id
		= #{accountId}
	</select>

	<!-- 민원 접수 -->
	<insert id="registComplain" parameterType="ComplainDTO">
		INSERT INTO
		T2000_COMPLAIN (
		COMPLAIN_CATEGORY_ID,
		COMPLAINUSER_NO,
		ACCOUNT_ID,
		COMPLAIN_STATUS_CD,
		DEADLINE_DT,
		RECEIVER_ACCOUNT_ID
		)
		VALUES (
		#{complainCategoryId},
		#{complainuserNo},
		#{accountId},
		#{complainStatusCd},
		#{deadlineDt},
		#{receiverAccountId}
		)
	</insert>

	<select id="findByDeptOfAccountId" parameterType="long"
		resultType="ComplainDTO">
		SELECT
		c.complain_id,
		to_char(c.rcpt_dt, 'YYYY-MM-DD') as
		rcptDt,
		to_char(c.deadline_dt, 'YYYY-MM-DD') as deadlineDt,
		c.complain_Category_Id,
		c.complain_status_cd,
		u.user_name,g.category_name,r.complainuser_name,g.category_url
		FROM
		t2000_complain c
		JOIN t1000_department_work d
		ON
		d.complain_category_id =
		c.complain_category_id
		JOIN t1000_account a
		ON
		a.dept_id =
		d.department_id
		join t1000_user u
		on a.user_no = u.user_no
		join
		t2000_complain_category g
		on g.complain_category_id =
		c.complain_category_id
		join t2000_complain_user r
		on c.complainuser_no =
		r.complainuser_no
		WHERE a.account_id =
		#{accountId}
	</select>

	<select id="findById" parameterType="long"
		resultType="ComplainDTO">
		select * from t2000_complain where complain_id =
		#{complainId}
	</select>

	<select id="findByCategoryId" parameterType="long"
		resultType="ComplainDTO">
		SELECT
		c.complain_id,
		TO_CHAR(c.rcpt_dt, 'YYYY-MM-DD') AS
		rcptDt,
		TO_CHAR(c.deadline_dt, 'YYYY-MM-DD') AS deadlineDt,
		c.complain_category_id,
		c.complain_status_cd,
		g.category_name,
		g.category_url,
		r.complainuser_name,
		c.account_id,
		u.user_name
		FROM
		t2000_complain c
		JOIN t2000_complain_category g
		ON
		g.complain_category_id = c.complain_category_id
		JOIN
		t2000_complain_user r
		ON r.complainuser_no = c.complainuser_no
		LEFT JOIN
		t1000_account a
		ON a.account_id = c.account_id
		LEFT JOIN t1000_user u
		ON
		u.user_no = a.user_no
		WHERE c.complain_category_id =
		#{complainCategoryId}
	</select>

	<update id="updateStatusByComplainId">
		UPDATE t2000_complain
		SET
		complain_status_cd =
		#{codeId}
		WHERE
		complain_id = #{complainID}
	</update>

	<!--Filter 적용한 목록 개수 -->
	<select id="countByFilter" parameterType="ComplainFilterDTO"
		resultType="int">

		SELECT COUNT(*)
		FROM t2000_complain c
		JOIN t2000_complain_category g ON
		g.complain_category_id =
		c.complain_category_id
		JOIN t2000_complain_user
		r ON r.complainuser_no = c.complainuser_no
		LEFT JOIN t1000_account a ON
		a.account_id = c.account_id
		LEFT JOIN t1000_user u ON u.user_no =
		a.user_no
		WHERE c.complain_category_id = #{complainCategoryId}

		<if test="status != null and status != ''">
			AND c.complain_status_cd = #{status}
		</if>

		<if test="complainUserName != null and complainUserName != ''">
			AND r.complainuser_name LIKE '%' || #{complainUserName} ||
			'%'
		</if>

		<if test="manager != null and manager != ''">
			AND u.user_name LIKE '%' || #{manager} || '%'
		</if>

		<if
			test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			<choose>
				<when test="dateType == 'deadlineDt'">
				<![CDATA[
					AND c.deadline_dt >= TO_DATE(#{startDate},
					'YYYY-MM-DD')
					AND c.deadline_dt < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
					]]>
				</when>
				<otherwise>
				<![CDATA[
					AND c.rcpt_dt >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
					AND
					c.rcpt_dt < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
					]]>
				</otherwise>
			</choose>
		</if>
	</select>

	<!--Filter 적용한 목록 조회 -->
	<select id="findByFilter" parameterType="ComplainFilterDTO"
		resultType="ComplainDTO">

		SELECT
		c.complain_id,
		TO_CHAR(c.rcpt_dt, 'YYYY-MM-DD') AS rcptDt,
		TO_CHAR(c.deadline_dt, 'YYYY-MM-DD') AS deadlineDt,
		c.complain_category_id,
		c.complain_status_cd,
		g.category_name,
		g.category_url,
		r.complainuser_name,
		c.account_id,
		u.user_name
		FROM
		t2000_complain c
		JOIN t2000_complain_category g ON
		g.complain_category_id =
		c.complain_category_id
		JOIN t2000_complain_user
		r ON r.complainuser_no = c.complainuser_no
		LEFT JOIN t1000_account a ON
		a.account_id = c.account_id
		LEFT JOIN t1000_user u ON u.user_no =
		a.user_no
		WHERE c.complain_category_id = #{complainCategoryId}


		<if test="status != null and status != ''">
			AND c.complain_status_cd = #{status}
		</if>

		<if test="complainUserName != null and complainUserName != ''">
			AND r.complainuser_name LIKE '%' ||
			#{complainUserName} ||
			'%'
		</if>

		<if test="manager != null and manager != ''">
			AND u.user_name LIKE '%' || #{manager} ||
			'%'
		</if>

		<if
			test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			<choose>
				<when test="dateType == 'deadlineDt'">
				<![CDATA[
					AND c.deadline_dt >= TO_DATE(#{startDate},'YYYY-MM-DD')
					AND c.deadline_dt < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
					]]>
				</when>
				<otherwise>
				<![CDATA[
					AND c.rcpt_dt >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
					AND
					c.rcpt_dt < TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
					]]>
				</otherwise>
			</choose>
		</if>

		ORDER BY c.complain_id DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size}
		ROWS ONLY

	</select>


	<!-- 현재 로그인한 계정의 민원 접수 목록(filter적용) -->
	<select id="findByDeptOfAccountIdAndFilter"
		resultType="ComplainDTO">
		SELECT
		c.complain_id,
		TO_CHAR(c.rcpt_dt, 'YYYY-MM-DD') AS rcptDt,
		TO_CHAR(c.deadline_dt, 'YYYY-MM-DD') AS deadlineDt,
		c.complain_category_id,
		c.complain_status_cd,
		g.category_name,
		g.category_url,
		r.complainuser_name,
		c.account_id,
		u.user_name
		FROM t2000_complain c
		JOIN t2000_complain_category g
		ON g.complain_category_id = c.complain_category_id
		JOIN t2000_complain_user r
		ON r.complainuser_no = c.complainuser_no
		LEFT JOIN t1000_account a
		ON a.account_id = c.account_id
		LEFT JOIN t1000_user u
		ON u.user_no = a.user_no
		WHERE
		c.complain_category_id IN (
		SELECT dw.complain_category_id
		FROM t1000_department_work dw
		JOIN t1000_account acc
		ON acc.dept_id = dw.department_id
		WHERE acc.account_id = #{accountId}
		)

		AND c.complain_status_cd = 'B001'

		<if test="filter.complainCategoryId != null">
			AND c.complain_category_id = #{filter.complainCategoryId}
		</if>

		<if
			test="filter.complainUserName != null and filter.complainUserName != ''">
			AND r.complainuser_name LIKE '%' || #{filter.complainUserName} || '%'
		</if>

		<if test="filter.manager != null and filter.manager != ''">
			AND u.user_name LIKE '%' || #{filter.manager} || '%'
		</if>

		<if
			test="filter.startDate != null and filter.startDate != '' and filter.endDate != null and filter.endDate != ''">
			<choose>
				<when test="filter.dateType == 'deadlineDt'">
          <![CDATA[
          AND c.deadline_dt >= TO_DATE(#{filter.startDate}, 'YYYY-MM-DD')
          AND c.deadline_dt <  TO_DATE(#{filter.endDate},   'YYYY-MM-DD') + 1
          ]]>
				</when>
				<otherwise>
          <![CDATA[
          AND c.rcpt_dt >= TO_DATE(#{filter.startDate}, 'YYYY-MM-DD')
          AND c.rcpt_dt <  TO_DATE(#{filter.endDate},   'YYYY-MM-DD') + 1
          ]]>
				</otherwise>
			</choose>
		</if>

		ORDER BY c.complain_id DESC
		OFFSET #{filter.offset} ROWS FETCH NEXT #{filter.size} ROWS ONLY
	</select>

	<!-- 현재 로그인한 계정의 민원 접수 개수(count용)(filter적용) -->
	<select id="countByDeptOfAccountIdAndFilter" resultType="int">
		SELECT COUNT(*)
		FROM t2000_complain c
		JOIN t2000_complain_category g
		ON g.complain_category_id = c.complain_category_id
		JOIN t2000_complain_user r
		ON r.complainuser_no = c.complainuser_no
		LEFT JOIN t1000_account a
		ON a.account_id = c.account_id
		LEFT JOIN t1000_user u
		ON u.user_no = a.user_no
		WHERE
		c.complain_category_id IN (
		SELECT dw.complain_category_id
		FROM t1000_department_work dw
		JOIN t1000_account acc
		ON acc.dept_id = dw.department_id
		WHERE acc.account_id = #{accountId}
		)
		AND c.complain_status_cd = 'B001'

		<if test="filter.complainCategoryId != null">
			AND c.complain_category_id = #{filter.complainCategoryId}
		</if>

		<if
			test="filter.complainUserName != null and filter.complainUserName != ''">
			AND r.complainuser_name LIKE '%' || #{filter.complainUserName} || '%'
		</if>

		<if test="filter.manager != null and filter.manager != ''">
			AND u.user_name LIKE '%' || #{filter.manager} || '%'
		</if>

		<if
			test="filter.startDate != null and filter.startDate != '' and filter.endDate != null and filter.endDate != ''">
			<choose>
				<when test="filter.dateType == 'deadlineDt'">
          <![CDATA[
          AND c.deadline_dt >= TO_DATE(#{filter.startDate}, 'YYYY-MM-DD')
          AND c.deadline_dt <  TO_DATE(#{filter.endDate},   'YYYY-MM-DD') + 1
          ]]>
				</when>
				<otherwise>
          <![CDATA[
          AND c.rcpt_dt >= TO_DATE(#{filter.startDate}, 'YYYY-MM-DD')
          AND c.rcpt_dt <  TO_DATE(#{filter.endDate},   'YYYY-MM-DD') + 1
          ]]>
				</otherwise>
			</choose>
		</if>
	</select>

</mapper>
