<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.EM3DAO">

	<!-- 민원 유무 조회 -->
	<select id="existByComplainId" resultType="int"
		parameterType="long">
		select count(*)
		from t4000_em3
		where complain_id
		=
		#{complainId}
	</select>

	<!-- 민원상세 조회 -->
	<select id="findByComplainId" resultType="EM3DTO"
		parameterType="long">
		select *
		from t4000_em3
		where complain_id
		= #{complainId}
	</select>

	<!-- 민원 등록 -->
	<insert id="insertInfo" parameterType="EM3DTO">
		insert into
		t4000_em3(complain_id)
		values(#{complainId})
	</insert>

	<!-- 민원 수정 -->
	<update id="updateInfo" parameterType="EM3DTO">
		UPDATE t4000_em3
		SET
	COMPLAIN_ID = #{complainId},
		UNIVERSITY_NAME = #{universityName},
		PARTICIPANT_TYPE = #{participantType},
		STUDENT_NO = #{studentNo},
		GRADE = #{grade},
		MAJOR = #{major},
		STUDENT_STATUS = #{studentStatus},
		GRADUATE_DATE = #{graduateDate},
		UPDATE_DT = SYSDATE
		WHERE COMPLAIN_ID = #{complainId}
	</update>


</mapper>
 