<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.MT1DAO">

	<!-- 민원 유무 조회 -->
	<select id="existByComplainId" resultType="int"
		parameterType="long">
		select count(*)
		from t4000_mt1
		where complain_id
		=
		#{complainId}
	</select>

	<!-- 민원상세 조회 -->
	<select id="findByComplainId" resultType="MT1DTO"
		parameterType="long">
		select *
		from t4000_mt1
		where complain_id
		= #{complainId}
	</select>

	<!-- 민원 등록 -->
	<insert id="insertInfo" parameterType="MT1DTO">
		insert into
		t4000_mt1(complain_id)
		values(#{complainId})
	</insert>

	<!-- 민원 수정 -->
	<update id="updateInfo" parameterType="MT1DTO">
		UPDATE T4000_MT1
		SET BIRTH_DT = #{birthDt}
		, INFANT_RRN_FRONT = #{infantRrnFront}
		, INFANT_RRN_BACK = #{infantRrnBack}
		, MULTIPLE_BIRTH_YN = #{multipleBirthYn}
		, PREMATURE_BABY_YN = #{prematureBabyYn}
		, CONTRACT_START_DT = #{contractStartDt}
		, CONTRACT_END_DT = #{contractEndDt}
		, MATERNITY_LEAVE_PERIOD= #{maternityLeavePeriod}
		, CURRENT_APPL_START_DT = #{currentApplStartDt}
		, CURRENT_APPL_END_DT = #{currentApplEndDt}
		, PAYMENT_ACCOUNT_NO = #{paymentAccountNo}
		, BANK_NM = #{bankNm}
		, ACCOUNT_HOLDER_NM = #{accountHolderNm}
		, INCOME_YN = #{incomeYn}
		, INCOME_TYPE = #{incomeType}
		, INCOME_START_TIME = #{incomeStartTime}
		, INCOME_END_TIME = #{incomeEndTime}
		, WORK_HOURS = #{workHours}
		, UPDATE_DT = SYSDATE
		WHERE COMPLAIN_ID = #{complainId}
	</update>


</mapper>
 