<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.NoticeDAO">

<!-- 공지사항 목록 -->
<select id="noticeList" resultType="NoticeDTO">
	SELECT T.notice_id, T.title, T.category_cd, U.user_name, T.create_dt, T.view_account, T.del_yn
	FROM t3000_notice T
	JOIN T1000_account  A ON COALESCE(T.update_Id, T.create_id) = A.account_id
	JOIN t1000_user U ON A.user_no = U.user_no
	WHERE T.del_yn = 'N'
	ORDER BY T.notice_id DESC
</select>

<!-- 공지사항 추가 -->
<insert id="noticeForm"  parameterType="NoticeDTO">
	INSERT INTO t3000_notice (
	title, create_id, create_dt, content, category_cd, popup_yn
	)
	value(
	#{title},#{accountId}, SYSDATE, #{content}, 
	<if test="categoryCd ! = null and categoryCd !='' ">#{categoryCd}</if>
	<if test="categoryCd = null or categoryCd ='' ">null</if>, 
	#{popupYn}
	)
</insert>

<!-- 공지사항 세부 내용 -->
<select id="getnoticeDetail" resultType="NoticeDTO">
	SELECT T.notice_id, T.title,T.content, T.update_dt, T.create_dt, T.CREATE_ID	, T.update_id, T.del_yn, T.view_account, U.user_name
	FROM t3000_notice T
	JOIN t1000_account A ON COALESCE(T.update_id, T.create_id) = A.account_id
	JOIN t1000_user U ON A.user_no = U.user_no
	WHERE T.notice_id = #{noticeId}
</select>

</mapper>