<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.RequestDAO">

<!-- 계정 생성 -->
<insert id="approveRequest"  parameterType="RequestDTO">
	INSERT INTO t1000_account (
	user_no, inst_id, dept_id, login_id, password, create_id, account_status_cd
	)
	values(
	#{userNo},#{instId}, #{deptId} #{loginId}, #{password},  'B002'
	)
</insert>

<!-- 권한 부여 -->
<insert id="approveAuth"  parameterType="RequestDTO">
	INSERT INTO t3000_authority_account (
	account_id, authority_id, create_Dt
	)
	values(
	#{accountId},#{authorityId}, SYSDATE
	)
</insert>

<!-- 아이디 중복 확인 -->
<select id="checkID" parameterType="String" resultType="int">
	SELECT count(*)
	FROM t1000_account
	WHERE login_id =#{loginId}
</select>

<!-- 주민번호로 해당 유저확인 -->
<select id="checkUserNo" parameterType="String" resultType="Long">
	SELECT user_no
	FROM t1000_user
	WHERE user_resident_no =#{userResident}
</select>

<!-- 권한 조회 sys 제외 -->
    <select id="findAuth" resultType="RequestDTO">
        SELECT AUTHORITY_ID,
               AUTHORITY_NAME
        FROM T3000_AUTHORITY
        WHERE DEL_YN = 'N' and  AUTHORITY_NAME != 'system'
    </select>
</mapper>