<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.approval24.dao.DelegateDAO">

	<select id="findByAbsId" parameterType="long"
		resultType="DelegateDTO">
		SELECT
		p.abs_id,
		p.delegate_id,
		u.user_name as
		delegateUserName,
		to_char(p.start_dt,'YYYY-MM-DD') as startDt,
		to_char(p.end_dt,'YYYY-MM-DD') as endDt,
		p.proxy_comment,
		p.seq_no
		FROM
		T2000_PROXY p
		join t1000_account a on p.delegate_id=a.account_id
		join
		t1000_user u on a.user_no=u.user_no
		WHERE p.abs_id = #{accountId}
		AND
		p.DEL_YN = 'N'
		and p.end_dt > SYSDATE
		ORDER BY p.SEQ_NO
	</select>
	<insert id="insertDelegate" parameterType="DelegateDTO">
		INSERT INTO
		T2000_PROXY
		(ABS_ID, DELEGATE_ID, START_DT, END_DT, PROXY_COMMENT,
		DEL_YN)
		VALUES
		(#{absId},
		#{delegateId},
		TO_DATE(#{startDt},
		'YYYY-MM-DD'),
		TO_DATE(#{endDt}, 'YYYY-MM-DD'),
		#{proxyComment},
		'N')
	</insert>


	<select id="findBySeqNo" parameterType="long"
		resultType="DelegateDTO">
		SELECT
		p.abs_id,
		p.delegate_id,
		u.user_name as
		delegateUserName,
		to_char(p.start_dt,'YYYY-MM-DD') as startDt,
		to_char(p.end_dt,'YYYY-MM-DD') as endDt,
		p.proxy_comment,
		p.seq_no
		FROM
		T2000_PROXY p
		join t1000_account a on p.delegate_id=a.account_id
		join
		t1000_user u on a.user_no=u.user_no
		WHERE p.SEQ_NO = #{seqNo}


	</select>
	<update id="updateDelegate" parameterType="DelegateDTO">
		update T2000_PROXY
		set
		delegate_id=#{delegateId},
		start_dt=#{startDt},
		end_dt=#{endDt},
		proxy_comment=#{proxyComment},
		update_dt=SYSDATE
		where seq_no=#{seqNo}
		and abs_id=#{absId}
	</update>
 
	<update id="deleteDelegate" parameterType="long">
		update T2000_PROXY
		set
		del_Yn = 'Y',
		update_dt=SYSDATE
		where seq_no=#{seqNo}
	</update>




</mapper>